<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Test</title>
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        <script src="{{ asset('js/app.js') }}" defer></script>
    </head>
    <body>
        <div
            class="text-green-700 px-4 sm:px-8 bg-sky-700 sm:py-3 hover:bg-sky-900"
        >
            <p class="text-yellow-500">formatare text folosind prettier for tailwind</p>
        </div>
    </body>
</html>
